[submodule "vendor/github.com/tarm/serial"]
	path = vendor/github.com/tarm/serial
	url = https://github.com/tarm/serial
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify.git
[submodule "vendor/github.com/kr/pty"]
	path = vendor/github.com/kr/pty
	url = http://github.com/kr/pty.git
