{{define "content"}}
<ul class="nav nav-tabs" style="margin-top: 5px; margin-bottom: 5px;">
	{{ range .Hosts }}
	<li class="nav-item">
		<a class="nav-link {{.Active}}" href="http://{{.Hostname}}.informatik.uni-erlangen.de:12334/">{{.Boxname}}<span id="mode"></span></a>
	</li>
	{{ end}}
</ul>

<div id="warning-card" class="card card-inverse card-warning" style="display:none;">
	<div id="warning-block" class="card-block">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Queue</h3>
		<ul id="queue" class="list-group"></ul>
	</div>
	<div class="col-md-8">
		<h3>Live output</h3>
		<pre id="log" class="pre-scrollable" style="background-color:#ddd;"></pre>
	</div>
</div>
{{end}}
